/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General Styles */

body {
    text-align: center;
}


/* Header Styles */


/* Body Styles */

ul,
ol {
    list-style-type: none;
}

.results {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 3rem;
}

.results li {
    width: 33.3%;
    padding: 1rem;
    display: inline-block;
    margin-bottom: 0.75rem;
    vertical-align: top;
    text-align: left;
}

.results img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.add-to-cart {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
}


/* Responsive Styles */
